:root{
    --primary: #000;
    --secondary: #FA8112;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #FAF3E1;
    font-family: "Poppins", Times, serif;
    scroll-behavior: smooth;
    color: #000000;
}

header{
    padding: 20px 30px;
     width: 100%;
     height: auto;
     position: fixed;
     top: 0;
     z-index: 1;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img{
    width: 20vh;
    height: auto;
}

.navigator{
    display: flex;
    gap: 30px;
}
.navigator a{
    text-decoration: none;
    color: inherit;
    font-size: 20px;
    font-weight: 500;
    font-family: inherit;
}
.navigator a:hover{
    cursor: pointer;
    color: var(--secondary);
    transition: all 0.2s ease-in-out;
    border-bottom: 1px solid black;
}

button{
    border: none;   
}

.contact_whatsapp{
    padding: 10px 30px;
    background-color: var(--secondary);
    color: var(--primary);
    border-radius: 5px;
        transition: all 0.2s ease-in-out;
}
.contact_whatsapp a{
    text-decoration: none;
    color: inherit;
    font-size: 16px;
    font-weight: 500;
}

.contact_whatsapp:hover{
    background-color: orange;
}
.home_page{
    padding: 150px 30px;
}
#home{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
}
.home_text{
    flex-basis: 1;
}
.home_text h1{
    font-size: 36px;
    text-transform: uppercase;
}
.home_text h1 span{
    color: var(--secondary);
}
.home_text p{
    font-size: 20px;
}

.home_image img{
    object-fit: cover;
}
.home_page_button{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
}
.home_page_button button{
    text-align: center;
    padding: 10px 40px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
}
.home_page_button .start{
    color: #fff;
    transition: all 0.2s ease-in-out;
    background-color: var(--primary);
}
.home_page_button .methodology{
    color: var(--primary);
    transition: all 0.2s ease-in-out;
    background-color: var(--secondary);
}
.home_page_button .start:hover{
    background-color: rgb(49, 27, 27);
}
.home_page_button .methodology:hover{
    background-color: orange;
}